@define-color bg-primary #1A1B26;
@define-color bg-secondary #1F2335;
@define-color text-primary #C8CBF0;

@define-color accent-1 #7AA2F7;
@define-color accent-2 #B25EB2;
@define-color accent-3 #AC7DED;

@define-color success #1BD064;
@define-color warning #EC8750;
@define-color error #F20163;

* {
    all: unset;
    font-family: 'CommitMono Nerd Font', 'monospace';
    font-weight: 900;
}

.window {
    border-radius: 8px;
    background-color: alpha(@bg-primary, 0.9);
    border: solid 2px alpha(@bg-secondary, 0.9);
    padding: 8px;
}

tabs {
    padding: 8px 16px;
}

tabs > tab {
    margin-right: 1rem;
    background-color: alpha(@bg-primary, 0.9);
    padding: 8px 16px;
    margin: 0;
    font-size: 16px;
}

tabs > tab:nth-child(1) {
    border-radius: 8px 0 0 8px;
}

tabs > tab:nth-child(3) {
    border-radius: 0 8px 8px 0;
}

.tab-label {
    color: @text-primary;
    transition: all 0.1s;
}

tabs>tab:checked > .tab-label,
tabs>tab:active > .tab-label {
    color: @accent-3;
}

tabs>tab:focus > .tab-label {
    color: @accent-3;
}

tabs > tab:hover > .tab-label {
    color: @accent-2;
}

.page {
    padding: 8px;
    background-color: alpha(@bg-primary, 0.9);
}

.image-label {
    font-size: 14px;
    padding: 4px;
    color: @text-primary;
}

flowboxchild > .card,
button > .card {
    transition: all 0.1s;
    border: solid 2px transparent;
    border-radius: 8px;
    background-color: alpha(@bg-secondary, 0.9);
    padding: 8px;
}

flowboxchild:active>.card,
flowboxchild:selected>.card,
button:active>.card,
button:selected>.card,
button:focus>.card {
    border: solid 2px alpha(@accent-1, 0.9);
}

.image {
    border-radius: 8px;
}

.region-button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: alpha(@bg-secondary, 0.9);
    color: @text-primary;
    transition: all 0.1s;
}

.region-button:not(:disabled):hover,
.region-button:not(:disabled):focus {
}

.region-button:disabled {
    background-color: $text-primary;
    color: @bg-primary;
}

.restore-button {
    color: @text-primary;
    font-size: 16px;
    padding: 4px;
}

.restore-button:checked {
    color: @accent-3;
}
