@define-color bg-primary #1A1B26;
@define-color bg-secondary #1F2335;
@define-color text-primary #C8CBF0;

@define-color accent-1 #7AA2F7;
@define-color accent-2 #B25EB2;
@define-color accent-3 #AC7DED;

@define-color success #1BD064;
@define-color warning #EC8750;
@define-color error #F20163;

* {
    font-family: 'CommitMono Nerd Font', monospace;
    font-size: 16px;
    transition-duration: .1s;
    transition-property: 'background', 'color', 'border-color';
}

window {
    background: alpha(@bg-secondary, 0.9);
    border-radius: 8px;
}

#inner-box {}

#outer-box {
    margin: 2px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid alpha(@accent-3, 0.9);
}

#input {
    margin: 8px;
    border: 2px solid @accent-2;
    background: alpha(@bg-secondary, 0.9);
    color: @text-primary;
    font-size: 16px;
    padding-left: 0;
}

#input:focus {
    outline: none;
    border: 2px solid @accent-3;
}

#input:first-child> :nth-child(1) {
    min-height: 40px;
    min-width: 40px;
    margin: 4px 8px 4px 4px;
    background-image: url("/home/insouciiance/.config/wofi/Assets/Search.jpg");
    background-size: contain;
    color: transparent;
    border-radius: 32px;
}

#input:first-child > :nth-child(4) {
    color: @accent-1;
}

#input:first-child > :nth-child(4):hover {
    color: @accent-2;
}

#text {
    padding: 5px;
    color: @text-primary;
}

#entry {
    border-radius: 8px;
}

#entry:selected {
    background: @bg-tertiary;
}

#text:selected {
    color: @accent-3;
    background: @bg-tertiary;
}

#scroll {
    border-radius: 8px;
}

#img {
    margin-right: 4px;
    background: @bg-tertiary;
}

expander {
    color: @text-primary;
}

expander> :nth-child(1) > :nth-child(1) {
    margin-right: 8px;
}

expander> :nth-child(1):hover > :nth-child(1) {
    color: @accent-3;
}

#entry:selected expander {
    color: @accent-3;
}

expander > list > #entry {
    border-radius: 8px;
    margin-left: 8px;
}

expander > list > #entry:selected {
    background: alpha(@bg-tertiary, 0.9);
}

expander > list > #entry #img {}

expander>list>#entry #text {}

expander>list>#entry:selected #text {
    color: @accent-3;
}

#expander-box {
    background: alpha(@bg-secondary, 0.9);
    padding-left: 32px;
}