@define-color bg-primary #1A1B26;
@define-color bg-secondary #1F2335;
@define-color text-primary #C8CBF0;

@define-color accent-1 #7AA2F7;
@define-color accent-2 #B25EB2;
@define-color accent-3 #AC7DED;

@define-color success #1BD064;
@define-color warning #EC8750;
@define-color error #F20163;

window#waybar {
    font-family: 'CommitMono Nerd Font', 'monospace';
    background: alpha(@bg-primary, 0.25);
    border-bottom-width: 1px;
    border-bottom-color: @bg-secondary;
    border-bottom-style: solid;
}

button {
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition-duration: .1s;
    transition-property: color, background, border-color;
}

#clock.date {
    color: @text-primary;
    background: @bg-secondary;
    margin: 8px 0 8px 2px;
    padding: 0 0 0 8px;
    border-radius: 8px 0 0 8px;
}

#clock.time {
    color: @text-primary;
    background: @bg-secondary;
    margin: 8px 2px 8px 0;
    padding: 0 8px;
    border-radius: 0 8px 8px 0;
}

box#workspaces {
    margin: 8px 2px 8px 2px;
    background: @bg-secondary;
    border-radius: 8px;
    padding: 2px;
}

box#workspaces button {
    color: @text-primary;
    font-weight: 600;
    min-width: 8px;
    min-height: 8px;
    background: @bg-secondary;
    border-radius: 4px;
    margin: 2px;
    padding: 4px 8px;
}

box#workspaces button.active {
    color: @bg-secondary;
    background: @accent-3;
}

box#workspaces button.urgent {
    background: @accent-2;
}

box#workspaces button:hover {
    background: @text-primary;
    color: @bg-secondary;
}

#tray {
    background: @bg-secondary;
    margin: 8px 2px 8px 2px;
    padding: 0 4px;
    border-radius: 8px;
}

#tray * {
    padding: 0 2px;
}

#window {
    color: @text-primary;
    background-color: alpha(@bg-primary, 0.75);
    border-radius: 8px;
    margin: 8px 0;
    padding: 0 8px;
}

#temperature {
    color: @accent-3;
    background: @bg-secondary;
    margin: 8px 0 8px 2px;
    padding: 0 8px;
    border-radius: 8px 0 0 8px;
}

#temperature.critical {
    color: @error;
}

#cpu {
    color: @accent-3;
    background: @bg-secondary;
    margin: 8px 0 8px 0;
    padding: 0 8px;
}

#memory {
    color: @accent-3;
    background: @bg-secondary;
    margin: 8px 2px 8px 0;
    padding: 0 8px;
    border-radius: 0 8px 8px 0;
}

#battery {
    color: @success;
    background: @bg-secondary;
    margin: 8px 2px 8px 2px;
    padding: 0 8px;
    border-radius: 8px;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @error;
}

#backlight {
    color: @accent-1;
    background: @bg-secondary;
    margin: 8px 0 8px 2px;
    padding: 0 8px;
    border-radius: 8px 0 0 8px;
}

#wireplumber {
    color: @accent-1;
    background: @bg-secondary;
    margin: 8px 2px 8px 0;
    padding: 0 8px;
    border-radius: 0 8px 8px 0;
}

#wireplumber.muted {

}

#bluetooth {
    color: @accent-2;
    background: @bg-secondary;
    margin: 8px 0 8px 2px;
    padding: 0 8px;
    border-radius: 8px 0 0 8px;
}

#network {
    color: @accent-2;
    background: @bg-secondary;
    margin: 8px 2px 8px 0;
    padding: 0 8px;
    border-radius: 0 8px 8px 0;
}

#custom-power {
    color: @accent-1;
    background: @bg-secondary;
    margin: 8px 2px 8px 2px;
    padding: 0 8px 0 6px;
    border-radius: 8px;
    min-width: 14px;
}
